.about-page {
  text-align: center;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/399946/pexels-photo-399946.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position-x: -150px;
  background-position-y: -150px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
}

.about-wrap h1 {
  padding: 20px;
  font-size: 3em;
}

.about-wrap p {
  padding: 20px;
}

.about-wrap p > a {
  text-decoration: none;
  font-weight: bold;
  color: green;
}

.about-wrap {
  background: linear-gradient(
    to bottom,
    rgba(99, 97, 97, 0.7),
    rgba(29, 28, 28, 0.459)
  );
  color: #fff;
  min-width: 50%;
  max-width: 70%;
  padding: 50px 50px 120px;
  margin: 40px auto;
  font-size: 20px;
}

.about-content {
  padding: 10px 15px 30px;
  background: rgba(19, 19, 19, 0.5);
}

.about-content span {
  font-style: italic;
  font-weight: 200;
}

@media screen and (max-width: 750px) {
  .about-wrap {
    max-width: 90%;
    padding: 5px;
    font-size: 16px;
  }
}
