/*barra de navegacion*/

/* Diseño sticky de la barra de navegacion*/
.navBar {
  display: flex;
  position: sticky;
  flex-flow: row no-wrap;
  align-items: center;
  height: 72px;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid red;
  background: #152238;
}

.backgroundOn {
  height: 60px;
  background: rgba(255, 244, 227, 0.85);
  transition: background 0.3s, height 0.3s;
}

.backgroundOff {
  height: 72px;
  background: #152238;
  transition: background 0.3s, height 0.3s;
}

/*LINKS/ENLACES*/
.navBar .link-wrap {
  display: contents;
}

.link-wrap .ul-container {
  display: flex;
  position: absolute;
  right: 0;
}

.ul-wrap {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  transition: background 0.3s ease-in-out;
}

.link-wrap .ul-container-responsive {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
  text-align: right;
  background: linear-gradient(to bottom, rgb(27, 138, 77), rgb(10, 70, 7));
  z-index: 1500;
  animation: ulResponsive1 0.3s;
}

.cerrar {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  position: absolute;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
  text-align: right;
  background: linear-gradient(to bottom, rgb(27, 138, 77), rgb(10, 70, 7));
  z-index: 1500;
  animation: ulResponsive2 0.31s;
}

@keyframes ulResponsive1 {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes ulResponsive2 {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}

#logo {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  color: green;
  font-size: 24px;
  text-decoration: none;
  float: left;
  padding-left: 20px;
}

.navBar li,
li a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navBar li {
  margin: 0px 20px;
  height: 60px;
}

.navBar #resp-button {
  margin: 10px 0px;
}

.navBar .links:hover {
  color: orange;
  padding: 6px;
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}

.navBar li:last-child a {
  background: #014420;
  padding: 10px 20px;
  border-radius: 20px;
}

.burger-button {
  position: absolute;
  right: 0;
  transform: translateY(-40%);
  width: 38px;
  height: 38px;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
}
